
<link href="http://vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">
<script src="static/src/js/jquery-2.1.4.min.js"></script>
<script src="static/src/js/jquery.danmu.js"></script>
<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"></script>
        <h3 class="ui dividing header">Live! Talk</h3>
        <div class="ui form">
              <div class="field">
        <textarea id="chat" cols="80" rows="20"></textarea>
        <br \>
        <input id="text"  placeholder="type message">
             </div>
        </div>
<div class="ui tiny red statistic" style="width:100%;">
    <div style="position:relative; " class="ui divider"></div>
    <div class="label">
        {{username}}. Text Stream
    </div>
    <div class="value">
        Live!  
    </div>
    <div style="position:relative; " class="ui divider"></div>
</div>
